footer {
    color: #7693a9;
    margin: auto {
        top: 20px;
    }
    padding: 20px;
    width: 60%;

    @media (max-width: 768px) {
        width: 100%;
    }

    .languages {
        margin: 10px 0 20px 0;

        a {
            margin: 0 6px 0 6px;
        }
    }
}