$blue: #084C8D;
$dark-blue: #05305a;
$light-blue: #E9F0F5;
$dark-red: #d43f3a;
$light-red: #d9534f;

$primary-font: 'Ubuntu', sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import "global";
@import "navbar/blue";
@import "navbar/core";
@import "navbar/left-sidebar";
@import "navbar/white";
@import "about";
@import "breadcrumb";
@import "buttons";
@import "callout";
@import "captcha";
@import "divider";
@import "embed";
@import "flash-messages";
@import "footer";
@import "initial-page";
@import "jumbotron";
@import "modal";
@import "notification";
@import "pagination";
@import "panels";
@import "permissions";
@import "presentation";
@import "prices";
@import "power-strong";
@import "required";
@import "switch";
@import "tables";
@import "vertical-timeline";